.full-height {
    height: 100vh;
}

.body {
  margin: 0 !important;
  padding: 0 !important;
}


.element {
  height: 1000px;
  background-color: var(--c3);
  font-size: 20px;
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
}

a {
   text-decoration: none !important;
}

.contact-text {
  background-color: var(--c1) !important;
  color: var(--c4) !important;
}

:root {
  --c1: #73593B;
  --c2: #A68E72;
  --c3: #D7CBB3;
  --c4: #F0F0F2;
  --c5: #0E0C0D;
}

.navbar {
  background-color: var(--c4);
}

.custom-progress-bar {
  --bs-progress-bar-bg: var(--c2) !important;
  background-color: var(--c4) !important;
}
